@import "/fontawesome/fa-brands-400.ttf";

.container {
/*    display: flex; */
    background-color: #041525;
}

.centerBigText {
    text-align: center;
    font-size: 200%;
    width: 100%;
}

.centerBigText h1 {
    margin-top: 0px;
    padding-top: 50px;
}

.fontAwesome {
    font-family: "FontAwesome";
    font-size: 150%;
    font-weight: 400;
}
